.fundo {
    background-color:#0275d8;
    overflow-x: hidden;
}
.brand {
    font-family: "Urbanist", serif;
    font-optical-sizing: auto;
}
.titulo {
    font-family: "Urbanist", serif;
    font-optical-sizing: auto;
    text-align: center;
    color:black
}

.texto{
    text-align: justify;
} 

.secao-apresentacao {
    background-color: white;
    background:white;
}

.secao-projetos {
    background-image:url('imagens/fundosky.png');
    color: white;
    background-size: 100% 100%;
}

.projeto {
    text-align: center;
}

.icone {
    font-size: 120px;
    color:white
}

.footer {
    background-color:#0275d8;
}

.social-box {
    float: right;
    background-color:#0275d8;
    display: inline;
}

.contact-box {
    font-family: "Urbanist", serif;
    font-optical-sizing: auto;
    color: white
}

.secao-servicos {
    background-color: white;
}